
.container {
    width: 100%;
    height: 100vh;
    background-color: bisque;
    display: grid;
   grid-template:repeat(5,1fr) /repeat(5,1fr) ;
  gap: 7px;
   
}



h1{
  padding: 20px;
  text-align: center;
  color: aliceblue;

}

.uno {
grid-column: 1/4;
grid-row: 1/4;
}

.dos {
    grid-column: 4/6;
    grid-row: 1/4;
    background-color: yellow;
   
}


.cuatro {
    grid-column: 3/6;
    grid-row: 4/6;
    background-color: darkcyan;
}
.tres {
    grid-column: 1/3;
    grid-row: 3/6;
    background: green;
   
}